{#
/**
 * @file
 * Adds classes to execises
 */
#}

{%
  set parent_classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'field--items',
    'bg-rainbow',
    'twins',
  ]
%}
{%
  set child_classes = [
    'field--item',
    'text-white',
    'bg-rainbow--item',
    'twins--twin',
    'cardotron',
  ]
%}
{% if panelizer_display ==  'alternative' %}
  {% set parent_classes = parent_classes|merge(['twins__pulled', 'pointers']) %}
  {% set child_classes = child_classes|merge(['pointers--pointy']) %}
{% endif %}

{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(parent_classes) }}>
      {% for item in items %}
        <div{{ item.attributes.addClass(child_classes) }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field--item') }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class="field__items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field--item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
