{#
/**
 * @file
 * Different classes and containers for landing page blocks.
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
    'col-md-offset-1',
    'col-md-8',
  ]
%}
{# Regular block #}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

    {{ content }}
</section>
