{#
/**
 * @file
 * Adds the bootstrap panels classes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'panel panel-default',
  ]
%}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <div class="panel-heading">
      <h2{{ title_attributes.addClass('panel-title') }}>
        {{ label }}
      </h2>
    </div>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('content') }}>
    <div class="panel-body">
      {{ content.field_image }}
    </div>
  </div>

  <div class="panel-footer">
    {{ content.field_type }}
    {{ content.flag_pokedex }}
  </div>

</article>
